{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav class="header">
    <a class="logo fs-3" href='{% url 'index' %}'>вконтакте</a>
{#    <div class="little-links">#}
{#        <a href="">Получатели</a>#}
{#        <a href="">Заявки</a>#}
{#    </div>#}
</nav>

{% block content %}
{% endblock %}


</body>
</html>