{% extends "layouts/base.html" %}

{% block content %}
    <div class="block main-info block-padding">
        <div class="user-main-info">
            <img class="avatar avatar-offset" src="{{ profile.avatar }}" alt="User">
            <div class="user-info-text-main">
                <div class="name">{{ profile.name }}</div>
                <p class="status-text">{{ profile.status }}</p>
            </div>
        </div>
    </div>

    <div class="block add-info block-padding">
        <p>День рождения: <span class="blue-text">{{ profile.birthdate }}</span></p>
        <p>Город: <span class="blue-text">{{ profile.city }}</span></p>
        <p>Телефон: <span class="blue-text">{{ profile.phone }}</span></p>
        <p>ВУЗ: <span class="blue-text">{{ profile.uni }}</span></p>
    </div>

{% endblock %}